.background{
    background-image: url("../../../assets/splash.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    .filter{
        height: 100%;
        width: 100%;
        backdrop-filter: blur(10px);
    }
}

.flags{
    bottom: 9%;
    position: absolute;
    img{
        height: 65% !important; 
        width: auto;
    }
}