<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="langData">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{langData.notifications}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{langData.allow_noticications}}</ion-label>
        <ion-toggle (ngModelChange)="allowNotificationChange($event)" [(ngModel)]="allowNotifications"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">{{langData.time_zone}}</ion-label>
        <ion-input type="text" [(ngModel)]="userTimeZone" class="ion-text-right" [disabled]="!allowNotifications" readonly></ion-input>
      </ion-item>
      <ion-item [disabled]="!allowNotifications">
        <ion-label>{{ selectedTime | date: "hh:mm"}}</ion-label>
        <ion-button id="open-date-input">Change</ion-button>
        <ion-popover #popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime #time presentation="time" size="cover"
            [(ngModel)]="selectedTime"
              (ionChange)="changeDate(time.value)" [showDefaultButtons]="true">
              <!-- <ion-buttons slot="buttons">
                <ion-button (click)="confirm($event)" fill="outline" color="primary">Select</ion-button>
                <ion-button (click)="reset()" fill="outline" color="danger">Reset</ion-button>
              </ion-buttons> -->
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{langData.language}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{langData ? langData.select_language: ""}}</ion-label>
        <ion-select (ionChange)="onLanguageChange($event)" [value]="currentLanguage" *ngIf="languages">
          <ion-select-option *ngFor="let lang of langArray" [value]="lang.lang_name">{{lang.lang_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>