<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Allow Notifications</ion-label>
        <ion-toggle [(ngModel)]="allowNotifications"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Time zone</ion-label>
        <ion-input type="text" [(ngModel)]="userTimeZone" class="ion-text-right" [disabled]="!allowNotifications" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ selectedDate | date: "HH:mm"}}</ion-label>
        <ion-button [disabled]="!allowNotifications" id="open-date-input">Change</ion-button>
        <ion-popover #popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime #time presentation="time" size="cover" [value]="selectedDate"
              (ionChange)="changeDate(time.value)">
              <ion-buttons slot="buttons">
                <ion-button (click)="confirm()" fill="outline" color="primary">Select</ion-button>
                <ion-button (click)="reset()" fill="outline" color="danger">Reset</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Language</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Select Language</ion-label>
        <ion-select (ionChange)="onLanguageChange($event)" [value]="currentLanguage" *ngIf="languages">
          <ion-select-option *ngFor="let lang of languages.acf.language_list | keyvalue" [value]="lang.key">{{lang.key}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>