ion-item{
    ion-thumbnail{
        height: 100px;
        width: 100px;
    }
    ion-label{
        // display: flex;
        // flex-direction: column;
        // // align-items: center;
        // justify-content: space-between;
        // top: 0; 
        height: 90%;
        width: 100%;
        .title{
            font-weight: bold;
        }
        .spacer{
            height: 15px;
        }
        .prayings{
            font-size: small;
            text-align: right;
            .praying{
                font-weight: bold;
            }
        }

    }
}


.spacer-bottom{
    height: 100px;
}