<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{langData ? langData.all_posts : 'All posts'}}</ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="!posts"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let post of posts" (click)="openPost(post)">
    <ion-thumbnail slot="start">
      <img *ngIf="post.featured_image_src" [src]="post.featured_image_src" />
    </ion-thumbnail>
    <ion-label>
      <div class="title">{{ post.title.rendered }}</div>
      <div>
        <ion-text color="primary" class="ion-padding-start">
          {{post.praying_today}} {{langData ? langData.prayingtoday : "praying today"}}
        </ion-text>
        <ion-text color="primary" class="ion-padding-start">
          {{post.praying_total}} {{langData ? langData.praying_total : "praying today"}}
        </ion-text>
      </div>
    </ion-label>
  </ion-item>
</ion-content>