:host{
    height: 100%;
    ion-card{
        border-bottom: 1px solid var(--ion-color-primary);
        margin: 0 2px;
        height: 100%;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .title{
                color: #6c6b6b;
                text-align: center;
                font-size: 12px;
                margin-bottom: 10%;
            }
            .value{
                color: var(--ion-color-primary);
                text-align: center;
            }
        }
    }
}

