<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="appMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="post" [innerHTML]="post.title.rendered"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openOptionsPopUp($event)">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="!post || !generalInfoData"></ion-progress-bar>
</ion-header>
<ion-content>
  <div *ngIf="post" >
    <app-slider [images]="images">
    </app-slider>
    <app-post-title *ngIf="audioUrl" [title]="post.title.rendered" [audio]="audioUrl"></app-post-title>
    <app-general-info [data]="generalInfoData"></app-general-info>
    <app-paragraph [content]="post.acf.information" [showFontPicker]="true"></app-paragraph>
    <ion-img [src]="post.acf.map ? post.acf.map : joshuaMap"></ion-img>
    <app-paragraph [title]="langData.resources" [content]="post.acf.resources"></app-paragraph>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" (click)="onPrayClick()" [disabled]="disablePrayButton">
        <!-- <ion-icon slot="start" name="book-outline"></ion-icon> -->
        &nbsp;{{langData ? disablePrayButton ? langData.im_praying : langData.pray : "Pray"}}&nbsp;
      </ion-button>
    </ion-buttons>
    <ion-text color="primary" class="ion-padding-start">
      {{prayingTodayNumber}} {{langData ? langData.prayingtoday : "praying today"}}
    </ion-text>
    <ion-text color="primary" class="ion-padding-start">
      {{totalPraying}} {{langData ? langData.praying_total : "praying today"}}
    </ion-text>
  </ion-toolbar>
</ion-footer>